.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* padding: 3rem; */
    padding-left: 9rem;
    padding-right: 9rem;
}

main {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer-container {
    padding-top: 3em;
}

.posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.posts-container form {
    padding-top: 1em;
    border-radius: 20%;
}

.post {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
}

.blog-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.feature-icon {
    padding: 1rem;
    border-radius: 20%;
}
